@font-face {
    font-family: 'monospace';
    font-style: normal;
    font-weight: normal;
    src: local('monospace'),url("monospace.woff") format("woff");
}

:root {
    --bg: #000;
    --font-color: #23e42b;
    --preview-bg: #000;
}

html,
body {
    font-family: 'monospace';
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: var(--bg);
}

canvas {
    top:0;left: 0;
    display: block;
    position: absolute;
    z-index: 0;
    transition: opacity 5s cubic-bezier(0, 1.13, 0.58, 1);
}
.general {
    height: auto;
    width: 60%;
    top: 5%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    font-size: 24px;
    line-height: 48px;
    padding: 20px;
    font-family: "monospace";
    color: var(--font-color);
    background: var(--bg);
    min-width: 600px;
    word-break: break-all;
}

.cursor {
    position: absolute;
    font-size: 24px;
    z-index: 999;
    opacity: 1;
    animation: blink 1s infinite;
    color: var(--font-color);
}

#editor {
    outline: none;
    border: none;
    min-height: 500px;
    background: transparent;
    position: absolute;
    z-index: 1;
}

#preview {
    background: var(--preview-bg);
    pointer-events: none;
    color: var(--font-color);
}


#preview {
    background: var(--preview-bg);
    pointer-events: none;
    color: var(--font-color);
}

.blink::after {
    content: '█';
    animation: blink 800ms infinite;
}

.preview p,
h1,
h2,
h3,
h4,
ul {
    font-size: 24px;
    margin: 0;
}


.preview p {
    white-space: pre-wrap;
}

.preview h1,
h2,
h3,
h4,
h5 {
    margin-left: 28px;
}

.preview strong,
del {
    margin: 0 28px;
}

.preview em {
    margin: 0 14px;
}

.preview pre {
    margin: 48px 0;
}


@keyframes blink {
    0% {
        opacity: 1;
        color: #23e42b;
    }
    50% {
        opacity: 0;
        color: #000;
    }
    100% {
        opacity: 1;
        color: #23e42b;
    }
}